*.py[cod]
*.d
*.o
dist/
build/
.backup/
*.stackdump
*~
*.egg-info
setuptools-*.egg
.ropeproject/

*.egg

*.sw[op]

# Virtualenv
bin
env

# Domino
.domino/
results/
domino.log

# Misc
data/
out/
tmp/

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
